{% extends 'gatepass_app/base.html' %}

{% block title %}Mark Out{% endblock %}

{% block content %}
<h1 class="mb-4">Mark Out Employees</h1>

{# Added Mark In button for quick navigation within content #}
<div class="d-flex justify-content-between mb-3"> {# Flexbox to push button to the right #}
    <a class="btn btn-danger" href="{% url 'create_manual_mark_out_entry' %}">Create Manual Entry</a>
    <a class="btn btn-outline-success" href="{% url 'mark_in_screen' %}">Go to Mark In Screen</a>
</div>


{% if employees %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name  Employee Type</th>
                <th>Department (unit)  date </th>
                <th>Status Type Lunch </th> {# Keep this header text #}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for I in employees %}
            <tr>
                {% if I.EMP_TYPE == 'S'%}
                <td style="background-color: aquamarine;">{{ I.NAME_DISPLAY }}</td>
                {% else %}
                <td style="background-color: rgba(245, 168, 219, 0.623);">{{ I.NAME_DISPLAY }}</td>
                {% endif %}
                
                <td>{{ I.DEPARTMENT_DISPLAY }}</td>
                <td>{{ I.STATUS_TYPE }}</td> 
                <td>
                    {% if I.IS_CROSS_DATE == 'YES'%}
                    <form action="{% url 'markout_cross' gatepass_no=I.GATEPASS_NO %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mark-button">Cancel</button>
                    </form>
                    {% else %}
                    <form action="{% url 'process_mark_out' gatepass_no=I.GATEPASS_NO %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mark-button">Mark Out</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info" role="alert">
   Not Any Gatepass Found!
</div>
{% endif %}
{% endblock %}